<ul>
    {% for post in postslist %}
        <li>
            <strong>
                <a href="{{ post.url | url }}" alt="">{{ post.data.title }}</a>
            </strong>
            -
            <span>
                {{ post.data.description }}
            </span>
        </li>
    {% endfor %}
</ul>